doctype html
html
    head
        title= title
        link(rel='stylesheet', href='#{staticUrl}/style.css').
        meta(name='viewport', content='width=device-width, user-scalable=yes')
    body
        block content

        script(src="bundle.js")

