doctype html
html
    head
        title= Untitled
        link(rel='stylesheet', href='/style.css').
        meta(name='viewport', content='width=device-width, user-scalable=yes')
    body
        block content

        block scripts


